<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>this site was created by lee. It users from mapbox.com and weatherapp</p>
        <img class="product" src="img/IMG_9662.jpeg">
       

    </div>
    {{>footer}}

</body>

</html>∂